<section class="main-description description">
	<div class="description__container">
		<h2 class="description__title visually-hidden">description</h2>
		<svg class="description__icon">
			<use href="images/symbol-defs.svg#icon-marks"></use>
		</svg>
		<p class="description__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
			atque? Aliquid vel maxime consectetur, repellendus adipisci eligendi
			veritatis eum? Sequi delectus aliquam atque corrupti facere
			provident qui dolorem laborum quisquam.
		</p>
	</div>
</section>
