<div class="footer__container">
	<!-- <a href="" class="footer__logo">
		<svg class="footer__icon" width="50" height="50">
			<use href="images/symbol-defs.svg#icon-vacuum-cleaner"></use>
		</svg>
	</a> -->
	<div class="footer__content">
		<div class="footer__contacts">
			<h3 class="footer__title">Контакти</h3>
			<ul class="footer__contacts-list">
				<li class="footer__contacts-item">
					<a
						class="footer__contacts-number"
						href="tel:+38(096)9676655"
					>
						<svg
							class="footer__icon-smartphone"
							width="20"
							height="14"
						>
							<use
								href="images/symbol-defs.svg#icon-smartphone"
							></use>
						</svg>
						+38(096)9676655
					</a>
				</li>
				<li class="footer__contacts-item">
					<a
						class="footer__contacts-address"
						href="https://goo.gl/maps/iUGRGvXMxfKy5RbL8"
					>
						м.Рівне, вул.Гагаріна 26 (NOVUS) Гаражний кооператив
						"Автопарк" 7 лінія
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__hour">
			<h3 class="footer__title">Графік роботи</h3>
			<ul class="footer__hour-list">
				<li class="footer__hour-item">З 09:00 gо 20:00 (Пн-Сб)</li>
				<li class="footer__hour-item">Вихідний (Нд)</li>
			</ul>
		</div>

		<div class="footer__network">
			<h3 class="footer__title">Наші соцмережі</h3>
			<ul class="footer__network-list">
				<li class="footer__network-item">
					<a href="https://www.instagram.com/clinicar_rivne/">
						<svg
							class="footer__network-icon"
							width="30"
							height="30"
						>
							<use
								href="images/symbol-defs.svg#icon-instagram"
							></use>
						</svg>
					</a>
				</li>
				<li class="footer__network-item">
					<a href="https://web.telegram.org/z/#305495689">
						<svg
							class="footer__network-icon"
							width="30"
							height="30"
						>
							<use
								href="images/symbol-defs.svg#icon-telegram"
							></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
