<div class="header__container">
	<div class="header__body">
		<a class="header__logo header__logo-first" href="#">
			<svg class="header__icon logo" width="40" height="40">
				<use href="images/symbol-defs.svg#icon-vacuum-cleaner"></use>
			</svg>
		</a>
		<div class="header__burger">
			<span></span>
		</div>

		<nav class="header__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a class="menu__link" href="index.html">Головна</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#services">Послуги</a>
				</li>

				<a class="header__logo header__logo-second" href="#">
					<svg class="header__icon logo" width="40" height="40">
						<use
							href="images/symbol-defs.svg#icon-vacuum-cleaner"
						></use>
					</svg>
				</a>

				<li class="menu__item">
					<a class="menu__link" href="#works">Відгуки</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#footer">Контакти</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
