<section class="main-services services" id="services">
	<div class="services__container">
		<h2 class="visually-hidden">Послуги компанії</h2>
		<ul class="services__list">
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">Хімчистка салону автомобіля</h3>
			</li>
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">
					Хімчистка мʼяких меблів та матраців
				</h3>
			</li>
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">Хімчистка килимів</h3>
			</li>
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">
					Фарбування керма. Перешивання чохла КПП та керма
				</h3>
			</li>
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">Полірування оптики</h3>
			</li>
			<li class="services__item">
				<div class="services__image-container">
					<img src="images/7.jpeg" alt="" class="services__image" />
				</div>

				<h3 class="services__title">
					Мийка автомобіля ззовні та натирання твердим воском
				</h3>
			</li>
		</ul>
	</div>
</section>
