<section class="main__works works">
	<div class="works__container">
		<h2 class="works__title">Результати нашої роботи</h2>

		<!-- <div class="works__btn-list">
			<button class="works__btn">Хімчистка салону автомобіля</button>
			<button class="works__btn">
				Хімчистка мʼяких меблів та матраців
			</button>
			<button class="works__btn">Хімчистка килимів</button>
			<button class="works__btn">
				Фарбування керма. Перешивання чохла КПП та керма
			</button>
			<button class="works__btn">Полірування оптики</button>
			<button class="works__btn">
				Мийка автомобіля ззовні та натирання твердим воском
			</button>
		</div> -->

		<ul class="works__list">
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
			<li class="works__item">
				<img class="works__image" src="images/4.jpeg" alt="" />
			</li>
		</ul>
	</div>
</section>
